*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  color: black;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
/*	background: #f4f0fa;*/
	transition: background-color .5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}






.overlayimg-colrespdiv{
  position: relative;
}

.overlayimg-imgdiv{
  width: 100%; height: 250px;
}

.overlayimg-imgdiv img{
  width: 100%; height: 100%; object-fit: cover;
}

.overlayimg-imgdiv1{
  width: 100%; height: 500px;
}

.overlayimg-imgdiv1 img{
  width: 100%; height: 100%; object-fit: cover;
}

.overlayimg-blackoverlay{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  /*background: rgba(0,0,0, 0.6);*/
  background-image: linear-gradient(transparent 20%, transparent 20%, rgba(0,0,0, 0.6) 60%);

    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.10);
  
  height: 100%;
  width:100%;
  color: white; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  padding-left: 5%; padding-right: 5%;
  transition: 0.5s;
}

.overlayimg-blackoverlay:hover{
  background: transparent;
  color: lightgrey;
  background-image: linear-gradient(transparent 20%, transparent 20%, rgba(0,0,0, 0.6) 60%);

    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    /*background-color: rgba(255, 255, 255, 0.10);*/
}

.overlayimg-blackoverlay-heading{
  font-size: 20px;
}

.overlayimg-blackoverlay-para{
  font-size: 12px;
}

.overlayimg-blackoverlay-link{
  padding: 0px; background: transparent; color: white;text-decoration: none; border-bottom: 1px solid white; font-size: 13px;
  transition: 0.5s;
}

.overlayimg-blackoverlay-link:hover{
  text-decoration: none;
  color: lightgrey;
}











#footer{
  position: relative; width: 100%;background: lightgrey;
}

.footer-section1-rowdiv{
  background: ;
  margin: 0;padding: 0;
  display: flex;
  justify-content: center;
}

.footer-section1-rowdiv2{
  background: ;
  display: flex;
  justify-content: ;
}

.footer-section1-rowdiv ul{
  list-style-type: none; padding: 0;
}

.footer-section1-rowdiv a{
  text-decoration: none;
  color: #222;
}

.footer-section1-heading{
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 16px;
  padding-left: 5px;
  background: transparent;
}

.footer-section1-link{
  font-size: 12.5px;
  padding-left: 5px;  
  margin-bottom: 8px;
  background: transparent;
}

.footer-section2-icons{
  display: flex;
  justify-content: center;
}

.footer-section2-icons a{
  color: #222;
  padding-left: 2%;
  padding-right: 2%;
}

.footer-section2-icons i{
  font-size: 18px;
}

.footer-section3-aboutwws{
  display: flex;
  justify-content: center;
  background: transparent;
  padding-left: 2%;
  padding-right: 2%;
}

.footer-section3-aboutwws span{
  font-size: 12px;
  text-align: center;
  flex: 3;
}

.footer-section4-img{
  text-align: center;
  background: transparent;
}

.footer-section4-img span{
  font-size: 13px;
  letter-spacing: 2px;
}

.footer-section4-img img{
  width: 42px;
  height: 42px;
  object-fit: contain;
}


.footer-section5-cc{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: #222;
}

